    @import 'https://fonts.googleapis.com/css?family=Muli';

    * {
      box-sizing: border-box;
    }

    body {
      background-color: #f6f6f6;
    }

    #container {
      height: 500px;
      display: flex;
      justify-content: space-around;
      flex-flow: row wrap;
    }

    #chart_div {
      flex-basis: 250px;
      height: 40%;
      box-shadow: 10px 10px 5px 0 rgba(230,230,230,1);
      margin: 10px;
      border-radius: 5px;
    }

    #chart_div2 {
     flex-basis: 250px;
     height: 40%;
     box-shadow: 10px 10px 5px 0 rgba(230,230,230,1);
     margin: 10px;
     border-radius: 5px;
    }

    #chart_div3 {
     flex-basis: 250px;
     height: 40%;
     box-shadow: 10px 10px 5px 0 rgba(230,230,230,1);
     margin: 10px;
     border-radius: 5px;
    }

    #chart_div4 {
      flex-basis: 250px;
      height: 40%;
      box-shadow: 10px 10px 5px 0 rgba(230,230,230,1);
      margin: 10px;
      border-radius: 5px;
    }
